---
title: SureFloat News & Resources
hero: hero/shipyard.jpg
---

<h2>SUREFLOAT NEWS & RESOURCES</h2>

<div class="page-footer"></div>

<% link_to('/news/recognize-remove-arsenic-treated-wood'){ %> <h3>How to Recognize and Remove Arsenic Treated Wood</h3> <% } %>

<p>
If you have a dock or structure you aren’t sure is CCA/pressure treated/Arsenic treated wood and you want to know how to identify it and remove it, this is the post for you. The dangers of CCA/Arsenic are well known! Please see our other posts for examples. However, what do you do to find out if you have it and what to do with it?

<% link_to('https://www.youtube.com/watch?v=_ShRRkPUGSE'){ %> How to Recognize and Remove Arsenic Treated Wood <% } %>
</p>

