---
title: SureFloat News & Resources
hero: hero/shipyard.jpg
---

<h2>SUREFLOAT NEWS & RESOURCES</h2>

<div class="page-footer"></div>

<% link_to('/news/new-floats-delivered-to-greater-victoria-harbour-authority-spring-2013'){ %> <h3>New Floats Delivered to Greater Victoria Harbour Authority – Spring 2013</h3> <% } %>

<p>
<%= image_tag 'news/GVHA-Customs-Dock-Floats-20132.jpg' %>
<p>
Floats have been delivered to the GVHA for the new Customs dock.
</p>
