---
title: SureFloat News & Resources
hero: hero/shipyard.jpg
---

<h2>SUREFLOAT NEWS & RESOURCES</h2>

<div class="page-footer"></div>

<% link_to('/news/surefloat-cops-cancer-tour-de-rock-thank'){ %> <h3>Surefloat Cops for Cancer Tour de Rock Thank You!</h3> <% } %>

<% link_to('/news/surefloat-cops-cancer-tour-de-rock-thank'){ %> <%= image_tag 'news/Cops-for-Cancer-Thank-You.png' %> <% } %>

<div class="page-footer"></div>

<% link_to('/news/surefloat-surespan-structures-cops-cancer-fundraiser-2016'){ %> <h3>Surefloat & Surespan Structures Cops for Cancer Fundraiser – 2016</h3> <% } %>

<% link_to('/news/surefloat-surespan-structures-cops-cancer-fundraiser-2016'){ %> <%= image_tag 'news/Press-Release.png' %> <% } %>

<div class="page-footer"></div>

<% link_to('/news/chromated-copper-arsenate-cca-treated-wood-homes-playgrounds'){ %> <h3>Chromated Copper Arsenate (CCA) Treated Wood in Homes & Playgrounds</h3> <% } %>

<p>
Chromated copper arsenate, also referred to as CCA, is a pesticide containing chromium, copper, and arsenic that protects wood against termites, fungi and other pests. This inorganic pesticide has been widely used as a wood preservative pesticide since the 1940s. However, in December of 2003, CCA manufacturers discontinued manufacturing products for most residential uses in the United States.

Wood treated with CCA was widely used in outdoor structures such as decks, playground equipment, picnic tables, garden-bed borders and docks.

A primary reason for discontinuing its use was due to concerns of residues on newly treated wood and because the CCA can leach out of treated wood products over time. CCA leachate contains arsenic, chromium and copper and since it is water-soluble, rainwater can seep in and leach CCA onto the wood surface. Cracking of the wood as it ages may also speed up this leaching process. The CCA residue can be wiped or dislodged from the wood surface and can stick to hands or clothing from contact. Even the soil beneath and adjacent to CCA-treated wood structures can become contaminated.

One of the major exposure concerns associated with CCA-treated wood is centered on arsenic, an element that can increase the risk of certain types of cancers. Young children can be at risk of exposure to CCA when playing on older playground equipment or decks built with CCA-treated wood. They can be exposed to CCA by touching the leachate on the wood surface with their hands and then inadvertently ingesting it through hand-to-mouth activity. Because of this, children should not eat while on CCA-treated wood and thorough handwashing after touching these surfaces is recommended.

The US. Environmental Protection Agency (EPA) states that CCA-treated wood should not be used in raised vegetable beds or reused in other products such as mulch. People should not burn CCA-treated wood to avoid possible inhalation of toxic chemicals in the smoke and ash. They are advised to wear goggles and a dust mask when sawing CCA-treated wood, and to wash their hands after handling. The EPA also recommends applying a penetrating protective coating on a regular basis for anyone with an older deck or other structure made with CCA-treated wood as this may reduce the leaching of chemicals.

These are just a few things to know CCA-treated wood and potential exposure concerns. To learn more about this or other environmental, health and safety, occupational, property damage or indoor air quality issues, please visit the websites shown below.

Clark Seif Clark http://www.csceng.com
EMSL Analytical, Inc. http://www.emsl.com
LA Testing http://www.latesting.com
Zimmetry Environmental http://www.zimmetry.com
Healthy Indoors Magazine http://www.iaq.net
Hudson Douglas Public Adjusters http://HudsonDouglasPublicAdjusters.com

Also visit this youtube video: <% link_to('https://www.youtube.com/watch?v=B0DXDqt00hA'){ %> Chromated Copper Arsenate (CCA) Treated Wood in Homes & Playgrounds <% } %>
</p>

<div class="page-footer"></div>

<% link_to('/news/recognize-remove-arsenic-treated-wood'){ %> <h3>How to Recognize and Remove Arsenic Treated Wood</h3> <% } %>

<p>
If you have a dock or structure you aren’t sure is CCA/pressure treated/Arsenic treated wood and you want to know how to identify it and remove it, this is the post for you. The dangers of CCA/Arsenic are well known! Please see our other posts for examples. However, what do you do to find out if you have it and what to do with it?

<% link_to('https://www.youtube.com/watch?v=_ShRRkPUGSE'){ %> How to Recognize and Remove Arsenic Treated Wood <% } %>
</p>

<div class="page-footer"></div>

<% link_to('/news/cca-wood-playgrounds-cbs-youtube'){ %> <h3>CCA Wood and Playgrounds – CBS – Youtube</h3> <% } %>

<p>
Poison in our parks newscast from Atlanta (2009). This one talks about the dangers of CCA/Arsenic treated wood in our parks and playgrounds.

<% link_to('/news/cca-wood-playgrounds-cbs-youtube'){ %> Poison in our Parks <% } %>
</p>

<div class="page-footer"></div>

<% link_to('/news/cca-treated-wood-kills-fish-youtube'){ %> <h3>CCA Treated Wood Kills Fish – Youtube</h3> <% } %>

<p>
Here is a story about the herring fishery in BC and the recovery efforts advocates are having to take. The fish need to be protected from our marine structures due to CCA/Arsenic Treated/Creosote wood. Washington has made the choice to ban new creosote pilings, and pull them out, but in 2008 when this was filmed, BC was still putting creosote piles in.

<% link_to('https://www.youtube.com/watch?v=9f4L6G62XlE'){ %> Treated Wood Kills Fish – CBC <% } %>
</p>

<div class="page-footer"></div>

<% link_to('/news/cca-treated-wood-family-home'){ %> <h3>CCA Treated Wood in Family Home</h3> <% } %>

<p>
If you were wondering what CCA/Arsenic treated wood can do, check out this family’s story:

<% link_to('https://www.youtube.com/watch?v=0m8kLpBJWsw&ebc=ANyPxKopEdgy6V8ps0f1pjLz_VQ_-xZ8YSWG0VhpVOXOMKmFA5u4pViOayoU6HiaIldWVQcNPrQ64M50179qJH17TTXAj-tAaA'){ %> Family Warns about CCA Dangers – 9 News <% } %>
</p>

<div class="page-footer"></div>

<% link_to('/news/new-floats-delivered-to-greater-victoria-harbour-authority-spring-2013'){ %> <h3>New Floats Delivered to Greater Victoria Harbour Authority – Spring 2013</h3> <% } %>

<p>
<%= image_tag 'news/GVHA-Customs-Dock-Floats-20132.jpg' %>
<p>
Floats have been delivered to the GVHA for the new Customs dock.
</p>

<div class="page-footer"></div>

<% link_to('/news/new-hampshire-dept-of-environmental-services-on-pressure-treated-wood-2010'){ %> <h3>New Hampshire Dept of Environmental Services on Pressure Treated Wood – 2010</h3> <% } %>

<p>
The New Hampshire Department of Environmental Services released a fact sheet in 2010 that discusses the concerns over pressure-treated wood & its use in residential and marine situations.  The NHDES advises against using pressure treated wood in any waters of the state.  The fact sheet covers a variety of preservatives that have been in use or are being proposed.  In the end, the use of these treated woods is generally a bad idea resulting in a multitude of problems including poisoning of fish and health and cancer risks that outweigh the benefits of the preservative.  Check it out at: <% link_to('http://des.nh.gov/organization/commissioner/pip/factsheets/bb/documents/bb-19.pdf'){ %> http://des.nh.gov/organization/commissioner/pip/factsheets/bb/documents/bb-19.pdf <% } %>
</p>

<div class="page-footer"></div>

<% link_to('/news/ministry-of-agriculture-and-lands-requirements-and-best-management-practices-designing-your-dock-or-boat-launch'){ %> <h3>MINISTRY OF AGRICULTURE AND LANDS Requirements and Best Management Practices – Designing Your Dock or Boat Launch</h3> <% } %>

<p>
The Ministry of Agriculture and Lands has some suggestions for designing your dock or boat launch.  This is available as well at the Land Tenures Branch in the Crown Land Progam Areas: <% link_to('http://www.for.gov.bc.ca/land_tenures/tenure_programs/programs/privatemoorage/'){ %> http://www.for.gov.bc.ca/land_tenures/tenure_programs/programs/privatemoorage/ <% } %>
<p>
Requirements for All Docks:
<p>
“It is important to remember that all p rivate moorage facilities must not obstruct either public access along the foreshore Moorage facilities must comply with Canadian Coast Guard regulations, local government zoning and building regulations. Any use of structures for non-moorage purposes, fill below the present natural boundary, dredging on the foreshore, and any solid core structures or cribs are prohibited. Only one dock per property is permitted.”
<p>
Please see their further Requirements and Best Management Practices – Designing Your Dock or Boat Launch: <% link_to('http://www.for.gov.bc.ca/land_tenures/tenure_programs/programs/privatemoorage/reqs_best_mgmt_practices.pdf'){ %> http://www.for.gov.bc.ca/land_tenures/tenure_programs/programs/privatemoorage/reqs_best_mgmt_practices.pdf <% } %>
</p>
