---
title: SureFloat News & Resources
hero: hero/shipyard.jpg
---

<h2>SUREFLOAT NEWS & RESOURCES</h2>

<div class="page-footer"></div>

<% link_to('/news/cca-treated-wood-family-home'){ %> <h3>CCA Treated Wood in Family Home</h3> <% } %>

<p>
If you were wondering what CCA/Arsenic treated wood can do, check out this family’s story:

<% link_to('https://www.youtube.com/watch?v=0m8kLpBJWsw&ebc=ANyPxKopEdgy6V8ps0f1pjLz_VQ_-xZ8YSWG0VhpVOXOMKmFA5u4pViOayoU6HiaIldWVQcNPrQ64M50179qJH17TTXAj-tAaA'){ %> Family Warns about CCA Dangers – 9 News <% } %>
</p>
