---
title: Our History
hero: hero/crane.jpg
---

<% content_for :above_content do %>
  <%= partial 'about_breadcrumbs', locals: { active: '/about-us/our-history' } %>
<% end %>

<h2>OUR HISTORY</h2>

  <figure class="alignright">
      <%= image_tag 'about_us/our_history/history.jpg' %>
  </figure>

  <p>
    Surefloat is a subsidiary of Surespan Structures and the Surespan Group. Prior to launching the Surefloat brand in 2006, Surespan Structures spent three decades building highway and forest bridge structures, precast buildings and architectural precast projects.

  <p>
    Given Surespan’s expertise and reputation, it is no surprise that Surespan Construction Ltd has designed, supplied and erected more than 5000 permanent and portable bridges in the last 30 years. Some of Surespan’s past projects include the Vancouver Convention Centre, VANOC’s Olympic Nordic Center, and Port Mann Bridge.
  </p>
