---
title: Our Vision
hero: hero/anemone.jpg
---

<% content_for :above_content do %>
  <%= partial 'about_breadcrumbs', locals: { active: '/about-us/our-vision' } %>
<% end %>

<h2>OUR VISION</h2>

  <figure class="alignright">
      <%= image_tag 'about_us/our_vision/vision.jpg' %>
  </figure>

  <p>
    Surefloat’s vision is to deliver a product that is high quality, easy to maintain and environmentally sustainable.  Given rising environmental concerns and economic vulnerability, we understand the importance of your investment – be it a 10’x20’ cottage dock or a 150 slip marina.  With that said, we strive for continuous improvement, constantly looking for ways to make our products better – more durable, stronger, more stable and entirely environmentally sound – while providing you the most competitive price.

  <p>
    In line with the Georgia Strait Alliance’s Clean Marine BC goal to certify 80% of marinas in BC as eco-rated, environmentally sound facilities, Surefloat hopes to educate waterfront owners across the northwest about why concrete is the best choice when it comes to marine structure construction.  Utilizing the same technology as pioneered in Surespan’s LEEDs award-winning Habitat Skirt Project at the Vancouver Convention Centre, Surefloat’s concrete docks provide a haven for marine life growth.  Moreover, free from chemical ridden, creosote treated wood, Surefloat docks do not leach any harmful chemicals into sensitive marine environments or waterways.

  <blockquote>
    <p>
      Marina design is to deal with an infinite number of variables, in a constantly moving medium, dealing with a significant number of opinions to design an absolutely perfect facility for a constantly changing complement of vessels
    </p>

    <cite>
      <p><em>William H. Koelbel</em></p>
      <p>Water Consultants Inc</p>
      <p>New York, NY</p>
    </cite>
  </blockquote>
