---
title: SureFloat News & Resources
hero: hero/shipyard.jpg
---

<h2>SUREFLOAT NEWS & RESOURCES</h2>

<div class="page-footer"></div>

<% link_to('/news/new-hampshire-dept-of-environmental-services-on-pressure-treated-wood-2010'){ %> <h3>New Hampshire Dept of Environmental Services on Pressure Treated Wood – 2010</h3> <% } %>

<p>
The New Hampshire Department of Environmental Services released a fact sheet in 2010 that discusses the concerns over pressure-treated wood & its use in residential and marine situations.  The NHDES advises against using pressure treated wood in any waters of the state.  The fact sheet covers a variety of preservatives that have been in use or are being proposed.  In the end, the use of these treated woods is generally a bad idea resulting in a multitude of problems including poisoning of fish and health and cancer risks that outweigh the benefits of the preservative.  Check it out at: <% link_to('http://des.nh.gov/organization/commissioner/pip/factsheets/bb/documents/bb-19.pdf'){ %> http://des.nh.gov/organization/commissioner/pip/factsheets/bb/documents/bb-19.pdf <% } %>
</p>
