---
title: SureFloat News & Resources
hero: hero/shipyard.jpg
---

<h2>SUREFLOAT NEWS & RESOURCES</h2>

<div class="page-footer"></div>

<% link_to('/news/ministry-of-agriculture-and-lands-requirements-and-best-management-practices-designing-your-dock-or-boat-launch'){ %> <h3>MINISTRY OF AGRICULTURE AND LANDS Requirements and Best Management Practices – Designing Your Dock or Boat Launch</h3> <% } %>

<p>
The Ministry of Agriculture and Lands has some suggestions for designing your dock or boat launch.  This is available as well at the Land Tenures Branch in the Crown Land Progam Areas: <% link_to('http://www.for.gov.bc.ca/land_tenures/tenure_programs/programs/privatemoorage/'){ %> http://www.for.gov.bc.ca/land_tenures/tenure_programs/programs/privatemoorage/ <% } %>
<p>
Requirements for All Docks:
<p>
“It is important to remember that all p rivate moorage facilities must not obstruct either public access along the foreshore Moorage facilities must comply with Canadian Coast Guard regulations, local government zoning and building regulations. Any use of structures for non-moorage purposes, fill below the present natural boundary, dredging on the foreshore, and any solid core structures or cribs are prohibited. Only one dock per property is permitted.”
<p>
Please see their further Requirements and Best Management Practices – Designing Your Dock or Boat Launch: <% link_to('http://www.for.gov.bc.ca/land_tenures/tenure_programs/programs/privatemoorage/reqs_best_mgmt_practices.pdf'){ %> http://www.for.gov.bc.ca/land_tenures/tenure_programs/programs/privatemoorage/reqs_best_mgmt_practices.pdf <% } %>
</p>

