---
title: SureFloat News & Resources
hero: hero/shipyard.jpg
---

<h2>SUREFLOAT NEWS & RESOURCES</h2>

<div class="page-footer"></div>

<% link_to('/news/cca-wood-playgrounds-cbs-youtube'){ %> <h3>CCA Wood and Playgrounds – CBS – Youtube</h3> <% } %>

<p>
Poison in our parks newscast from Atlanta (2009). This one talks about the dangers of CCA/Arsenic treated wood in our parks and playgrounds.

<% link_to('/news/cca-wood-playgrounds-cbs-youtube'){ %> Poison in our Parks <% } %>
</p>
