---
title: SureFloat News & Resources
hero: hero/shipyard.jpg
---

<h2>SUREFLOAT NEWS & RESOURCES</h2>

<div class="page-footer"></div>

<% link_to('/news/surefloat-cops-cancer-tour-de-rock-thank'){ %> <h3>Surefloat Cops for Cancer Tour de Rock Thank You!</h3> <% } %>

<% link_to('/news/surefloat-cops-cancer-tour-de-rock-thank'){ %> <%= image_tag 'news/Cops-for-Cancer-Thank-You.png' %> <% } %>
