blockquote {
  margin: 0;

  > p {
    padding: 1.5rem 0;
    font-family: $font-family-serif;
    font-style: italic;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }

  cite {
    font-style: normal;
  }

  figure {
    width: 400px;

    img {
      box-shadow: 0 3px 6px transparentize($black, 0.5);
    }
  }
}
