.breadcrumbs {
  height: $navbar-height-outter;
  max-width: 90%;

  a {
    font-weight: bold;

    > span {
      font-weight: normal;
    }

    &.active {
      color: shade($color-primary, 50%);
    }
  }
}
