html {
  font-size: 16px;
}

body {
  color: $color-body;
  font-family: $font-family-body;
  font-size: 13px;
}

h2 {
  font-size: 23px;
  font-weight: normal;
  color: $gray;
}

ul {
  list-style-type: square;
  line-height: 1.5em;
}
