<ul class="navbar breadcrumbs">
  <li class="has-dropdown"><% breadcrumb_link('/about-us', active){ %><span>About</span> Surefloat<% } %>
  <li class="has-dropdown"><% breadcrumb_link('/about-us/our-history', active){ %><span>Our</span> History<% } %></li>
  <li class="has-dropdown"><% breadcrumb_link('/about-us/our-vision', active){ %><span>Our</span> Vision<% } %></li>
</ul>
