<div class="page-footer">
  <div class="container">
    <div class="sitemap">
      <ul>
        <li><a href="/about-us">About Us</a>
          <ul>
            <li><a href="/about-us/our-history">Our History</a></li>
            <li><a href="/about-us/our-vision">Our Vision</a></li>
          </ul>
        </li>
        <li><a href="/about-us">Products &amp; Services</a>
          <ul>
            <li><a href="/products-services/commercial-marinas">Commercial Marinas</a></li>
            <li><a href="/products-services/residential-cottage-docks">Residential Cottage Docks</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="sitemap">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/client-testimonials">Testimonials</a></li>
        <li><a href="/frequently-asked-questions">F.A.Q.</a></li>
        <li><a href="/cat/news">News</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>

    <div class="about">
      <p>SUREFLOAT - Engineered Concrete Docks &amp; Marinas<br>
      Surefloat is a division of Surespan Structures Ltd.</p>
      <div class="copyright">Copyright ©2011 Surefloat - All Rights Reserved<br>
      Design by <a href="http://www.primalcommunications.com?ref=surefloat">Primal Communications Ltd.</a></div>

      <%= image_tag 'logo.png' %>
    </div>

    <div class="contact">
      <p>
        <address>
          3721 Drinkwater Rd<br>
          Duncan BC V9L 6P2<br>
          <strong>Phone: 250.748.8888</strong><br>
          Fax: 250.746.8011
        </address>
      </p>
      <p><a href="mailto:surefloat@surespanstructures.com">surefloat@surespanstructures.com</a></p>
    </div>
  </div>
</div>
