<ul class="navbar breadcrumbs">
  <li class="has-dropdown"><% breadcrumb_link('/products-services', active){ %><span>Products</span> & Services<% } %>
  <li class="has-dropdown"><% breadcrumb_link('/products-services/commercial-marinas', active){ %><span>Commercial</span> Marinas<% } %></li>
  <li class="has-dropdown"><% breadcrumb_link('/products-services/residential-cottage-docks', active){ %><span>Residential</span> Cottage Docks<% } %></li>
</ul>
