<nav class="site-nav">
  <button class="moblie-nav-trigger only-mobile" data-toggle-class-target=".site-nav">Open Menu</button>

  <div class="container">
    <ul class="site-nav-list">
      <li><% link_to('/'){ %><span></span>Home<% } %></li>
      <li class="has-dropdown"><% link_to('/about-us'){ %><span>About</span> Surefloat<% } %>
        <ul class="dropdown">
          <li><% link_to('/about-us/our-vision'){ %><span>Our</span> Vision<% } %></li>
          <li><% link_to('/about-us/our-history'){ %><span>Our</span> History<% } %></li>
        </ul>
      </li>
      <li class="has-dropdown"><% link_to('/products-services'){ %><span>Products</span> & Services<% } %>
        <ul class="dropdown">
          <li><% link_to('/products-services/commercial-marinas'){ %><span>Commercial</span> Marinas<% } %></li>
          <li><% link_to('/products-services/residential-cottage-docks'){ %><span>Residential</span> Cottage Docks<% } %></li>
        </ul>
      </li>
      <li><% link_to('/frequently-asked-questions'){ %><span></span> FAQ<% } %></li>
      <li><% link_to('/client-testimonials'){ %><span>Client</span> Testimonials<% } %></li>
      <li><% link_to('/contact-us'){ %><span>Contact</span> Us<% } %></li>
    </ul>
  </div>
</nav>
