<nav class="site-nav">
  <div class="container">
    <ul class="list-inline">
      <li><% link_to('/'){ %><sub></sub>Home<% } %></li>
      <li><% link_to('/products-services'){ %><sub>Products</sub>& Services<% } %></li>
      <li><% link_to('/client-testimonials'){ %><sub>Client</sub>Testimonials<% } %></li>
    </ul>
  </div>
</nav>
