---
title: About Surefloat
hero: hero/shipyard.jpg
---
<h2>ABOUT SUREFLOAT</h2>


  <figure class="alignright">
      <%= image_tag 'about_us/about.jpg' %>
  </figure>

  <p>
    Surefloat is a subsidiary of the Surespan Group, founded in 1979.  In response to the growing customer demand for high quality, durable and environmentally sound marine structures, Surespan utilized their expertise and resources to create a new product line of precast concrete marine products. Surefloat has partnered with engineers, architects and precast industry experts to create and deliver the best solution to your floatation system needs.  From multi-slip marina projects to recreational cottage docks and everything in between, Surefloat offers the best.

  <p>
    Most importantly, Surefloat products are built to the highest quality standards, at the only Canadian Standards Association (CSA) and Canadian Precast Concrete Institute (CPCI) certified marine structures manufacturing facility in the Pacific Northwest.  Given Surespan’s numerous certifications, Surefloat manufactures products that are built to last – stronger and more durable than any other recreational dock kit, marina, or floatation system product on the market.

  <p>
    We believe that purchasing a marine structure is an investment that should be made once, and last a lifetime.  For this reason, Surefloat’s products are engineered and designed to last 25-50 years or more.
  </p>


  <figure class="alignleft">
      <%= image_tag 'about_us/cert_logos.png' %>
  </figure>

  <p>
    <ul>
      <h3>List of Certifications</h3>

      <li>
        Canadian Standards Association International Certification
      </li>
      <li>
        Canadian Standards Association – Precast & Prestressed Concrete Plant Status
      </li>
      <li>
        Canadian Welding Bureau – Class 2 Status Certification
      </li>
      <li>
        Member of the Canadian Precast & Prestressed Concrete Institute
      </li>
      <li>
        Member of the BC Road Builders Association
      </li>
      <li>
        Canadian Precast Concrete Institute (CPCI)
      </li>
    </ul>
  </p>


