---
hero: hero/sunset.jpg
---

<h2>CONTACT US</h2>

<div class="alignleft">
  <address>
    <a href="http://maps.google.ca/maps?q=3721+Drinkwater+Rd%0ADuncan+BC+V9L+6P2" target="_blank">
      <%= image_tag 'contact_us/gmap.png' %>
    </a>
    <p>
    3721 Drinkwater Rd<br>
    Duncan BC V9L 6P2<br>
    <p>
    Toll Free: 800.748.8177<br>
    Phone: 250.748.8888<br>
    Fax: 250.746.8011<br>
    <p>
    <%= link_to 'surefloat@surespanstructures.com', 'mailto:surefloat@surespanstructures.com' %>
  </address>
</div>


<form id="ajax-contact" method="post" action="https://static-files.canaryprint.ca/surefloat.com/mailer.php">
  <div class="field">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
  </div>

  <div class="field">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </div>

  <div class="field">
    <label for="message">Message:</label>
    <textarea id="message" name="message" required></textarea>
  </div>

  <div class="field">
    <button type="submit">Send</button>
  </div>
</form>
<div id="form-messages"></div>

<div class="clearfix"></div>
