---
layout: sidebar
---

<% content_for :above_content do %>

<div class="tagline">
  <span>Residential waterfront home docks, recreational cottage docks, yacht enclosures, private docks, boat launches and marinas</span>
</div>

<% end %>

<h2>Why Choose Surefloat?</h2>

<ul>
  <li>
    Surefloat utilizes engineered product designs to ensure durability and strength
  </li>
  <li>
    Surefloat is the only marine float company in the Northwest that manufactures products in a CSA and PCI/CPCI certified facility
  </li>
  <li>
    Surefloat products are fully customizable, designed to specifically fit your needs
  </li>
  <li>
    Surefloat’s concrete docks last 20+ years, more than twice the lifetime of any wooden dock
  </li>
</ul>

<h2>How is Surefloat eco-friendly?</h2>

<ul>
  <li>
    Concrete is a haven for marine-life growth (Read Surespan’s Convention Centre Habitat Skirt success story)
  </li>
  <li>
    Products are free from creosote-treated wood
  </li>
  <li>
    Type 1 EPS foam used for floatation is environmentally sound
  </li>
  <li>
    Products are precast off-site, where manufacturing waste and chemicals are properly disposed of far from sensitive marine eco-systems
  </li>
  <li>
    Numerous options available to make products entirely sustainable
  </li>
</ul>
