.hero {
  min-height: 160px;
  position: relative;
  background: black;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 18px;
    width: 100%;
    position: absolute;
    background: transparentize(white, 0.4);
    z-index: 2;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &-mask,
  img {
    @include transform(translateX(-50%));
    position: absolute;
    top: 0;
    left: 50%;
  }

  &-mask {
    @include transform(translateX(-50%));
    @include radial-gradient(circle, transparent 40%, black 90%);
    width: 100%;
    max-width: $page-width;
    height: 100%;
    z-index: 1;

    &::before,
    &::after {
      @include position(absolute, 0);
      content: '';
      display: block;
      background: black;
    }

    &::before {
      @include transform(translateX(-100%));
    }

    &::after {
      @include transform(translateX(100%));
    }
  }

  img {
    display: block;
    position: relative;
  }
}
