.page-header {
  h1 {
    margin: 25px;
    text-align: center;
  }

  .site-logo {
    display: inline-block;
    width: 272px;
    height: 83px;
    background: url(../images/logo.png) 100% / cover;
  }
}
