.site-nav {
  box-sizing: border-box;
  background: url(../images/site-nav-bg.jpg) center $site-nav-bg;
  font-size: 1em;

  a,
  .moblie-nav-trigger {
    display: block;
    height: 100%;
    position: relative;
    color: $site-nav-color;
    border: none;
    background: transparent;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  @media screen and (max-width: $desktop-breakpoint - 1) {
    &:not(.active) {
      height: $navbar-height-outter;

      ul {
        display: none;
      }
    }

    &.active {
      .moblie-nav-trigger {
        display: none;
      }
    }

    .moblie-nav-trigger {
      word-wrap: none;
      border: 3px solid #414141;
      border-radius: 5px;
    }

    li,
    .moblie-nav-trigger {
      margin-left: 1rem;
    }

    ul {
      @include padding(0.5rem null);
    }

    li a {
      padding: 0.5em;
    }
  }

  @media screen and (min-width: $desktop-breakpoint) {
    @include display(flex);
    height: $navbar-height-outter;

    .container {
      @include flex-basis($page-width);
    }

    &-list {
      @include as-navbar;
      margin: 0;
    }

    li:not(:hover) {
      .dropdown {
        display: none;
      }
    }

    a  > span {
      color: $site-nav-muted;
    }

    > li > a::after {
      border-right-color:$site-nav-muted;
    }

    // make the dropdown visible above the hero
    .container {
      margin: 0 auto;
      z-index: 100;
    }

    .has-dropdown {
      &::after {
        @include caret(tint($color-primary, 50%));
      }
    }

    .dropdown {
      position: relative;
      top: 0;
      left: 30%;
      padding-left: 0;
      background: url("../images/dropdown-bg.png") transparent 0 repeat;
      z-index: 100;

      li,
      a {
        box-sizing: border-box;
        width: 100%;
      }

      li {
        padding: 0;
        border-top: 1px solid transparentize($white, 0.5);
      }

      a {
        padding: 0.5rem;

        &:hover {
          background: #394045;
        }
      }
    }
  }
}
